@model onlineShopBackend.Models.categoryImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>categoryImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.catImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.catImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
