@model IEnumerable<onlineShopBackend.Models.subCategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sub_cat_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cat_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sub_cat_name)
        </td>
        <td>
            @foreach (var x in ViewBag.catList)
            {
                if (x.cat_id == item.cat_id)
                {
                    @x.cat_name
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sub_cat_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sub_cat_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sub_cat_id })
        </td>
    </tr>
}

</table>
